*{
    margin: 0;
    padding: 0;
    box-sizing: border
}
body{
    background-color: 
}
header{
    background-color: 
    text-align: center

 }
 div {
    text-decoration: n
    position: relative
 }

 div ul{
    list-style: none;
    position: relative
 } 

 .titulo a{
    background-color: 
    text-decoration: n
    display: block;
    text-align: center
    font-size:larger;
    font-style: obliqu
}

.menu__item{
    display: inline-bl
}

.menu__link{
    text-decoration: n
    color: #2e8b57;
    display: block;
    padding: 20px;
    padding-right: 50p
    padding-left: 50px

}
.menu__item :hover{
    background-color: 
    color: rgb(0, 0, 
}
/* fin de header */
/* inicio de cajas */
.cont{
    margin-top: auto;
    float: right;
    margin: auto;
    background: #54a5
    border: 4px solid;
    
   
}

.cont img{
    block-size: auto;
    float: left;
    margin-right: 15px
    width: 35%;
    position: relative
    margin: 10px 10px;
}

.cont2{
    position: relative
    float: right;
    background: #54a5
    border: 4px solid;
    height: 400px;
    font-size: medium;
}
.cont2 img{
    width: 20%; 
}
   
.footer{
    background-color: 
    text-align: center
    color: white;
}

.redes__sociales{
    text-decoration: n
    color: rgb(0, 0, 
}
/* formulario contacto
.form{
    background-color: 
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em
    padding: 3em 2em;
}
.form__contenedor{
    width: 100%;
    margin-bottom: aut
}
.form__input{
    padding: auto;
    margin: 20px;
}
