*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cuerpo{
    background-color: #c2b3b3a2;
}
header{
    display: flex;
    height: 70px;
    background-color: rgb(144, 212, 190);
    justify-content: space-between;
    align-items: center;
}

.logito{
    display: flex;
    align-items: center;
}

.logito img{
    height: 50px;
    margin-right: 10px;
}

.logito a{
    text-decoration: none;
}

.loguito{
    margin-left: 10px;
}

.na-vi{
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    color: rgb(24, 78, 78);
}

.carousel-item {
    height: 300px;
}

#carouselExampleControls{
    padding: 10px;
}

